@charset "UTF-8";
/* CSS Document */


#Access #Main_content {
	background:url(../images/access/access_bg.png) repeat;
}
#Access #Main_content .access_bg{
	background:url(../images/access/access_bg2.png) repeat center;
}
#Access #Main_content .content_inner {
	width:900px;
	padding:50px;
	background:#FFF;
	margin:50px auto;
}
#Access .access_detail {
	position:relative;
}
#Access #Car.access_detail {
	margin-bottom:0;
}
#Access .access_detail h3 {
	font-size:25px;
	color:#FFF;
	background:url(../images/access/category_title.png) repeat;
	line-height:35px;
	padding:25px 20px 20px 130px;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.15);
	letter-spacing:0.2em;
	text-align: left;
}
#Access .access_detail h3 strong {
	font-size:35px;
}
#Access .access_detail .icon {
	position:absolute;
	top:-20px;
	left:60px;
}
#Access .access_detail .otherdl,
#Access .access_detail .car_box {
	padding:40px 85px;
	line-height:1.6em;
	letter-spacing:0.1em;
}
#Access .access_detail .otherdl .otherdt {
	font-size:18px;
	font-weight: 900;
	color:#355F7F;
	padding:20px 20px 10px;
}
#Access .access_detail .otherdl .otherdd {
	font-size:14px;
	color:#333;
	padding:0 20px 20px;
	border-bottom:2px dotted #CCC;
}
#Access .access_detail .otherdl .otherdd:last-child {
	border-bottom:none;
}
#Access .access_detail .car_box .txt{
	font-size:14px;
	color:#333;
}
#Access .access_detail .car_box table {
	width:100%;
}
#Access .access_detail .car_box .p1,
#Access .access_detail .car_box .p2,
#Access .access_detail .car_box .p3 {
	padding-left:60px;
	margin:0 20px 30px;
}
#Access .access_detail .car_box .p1 {
	background:url(../images/access/car_p1.png) no-repeat;
}
#Access .access_detail .car_box .p2 {
	background:url(../images/access/car_p2.png) no-repeat;
}
#Access .access_detail .car_box .p3 {
	background:url(../images/access/car_p3.png) no-repeat;
}
#Access .access_detail .car_box table th,
#Access .access_detail .car_box table td{
	font-size:13px;
	line-height:1.7em;
	font-family: "FOT-筑紫A丸ゴシック Std D",TsukuARdGothicStd-D, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
#Access .access_detail .car_box table th{
	width:130px;
	border-right:1px solid #CCC;
}
#Access .access_detail .car_box table td{
	padding-left:30px;
}

#Map {
	margin:20px 0 40px;
}
