@charset "UTF-8";
/* CSS Document */

/*スマホ*/

/*====================

  フォーマット

======================*/
.content_inner,
#Outline_content .content_inner,
#Faq_content .content_inner {
	width:auto !important;
	padding:0 4%;
}

#Main_content {
	margin-top:20px;
}
h3 {
	font-size: 30px;
	line-height: 1em;
	padding:40px 10px;
}

/*===メインビジュアル===*/
#Main_container {
	padding: 0 0 20px;
}
#Main_img {
	background-size:auto 100%;
}
#Main_img .day_flag {
	width:200px;
	padding-top: 43px;
	background-size:100%;
	position: absolute;
	top: 15px;
	right: 0;
}
#Home h1 {
	top: 45%;
	padding-top: 38%;
	width: 38%;
	margin: -20% 0 0 -20%;
	background: url(../images/home/top_logo_ie8.png) no-repeat;
	background-size:100%;
}


/*===ナビ===*/

#Home #Nav_global {
	float:none;
	z-index:1000;
	background:#F7F7F7;
	width:100%;
	padding-top:0;
	padding-bottom:0;
	height:auto;
}
#Home #Nav_global ul {
	margin: 0 auto;
	position:static;
	margin-left:0;
	width:100%;
	border-top: 2px dotted #62BBD1;
}
#Home #Nav_global ul li {
	float:none;
	margin-left: 0;
	width:100%;
}
#Home #Nav_global ul li a,
#Home #Nav_global ul li span{
	display: block;
	width:100%;
	border-bottom: 2px dotted #62BBD1 !important;
	color: #20546D;
	font-size: 1rem;
	line-height: 1em;
	padding:17px 5% 17px 50px !important ;
	background:url(../images/sp/nav_bg.png) no-repeat 20px center !important;
	box-sizing:border-box;
}
#Home #Nav_global ul li span{
	color:#999;
}
#Home #Nav_global ul li span:after{
	content:"-coming soon-";
	color:#CCC;
	margin-left:10px;
	font-size:0.9rem;
}



/*===コピー===*/
#Main_copy {
	padding: 40px 0;
	background:none;
}
#Main_copy .copy_title {
	background: url(../images/home/main_copy_txt.png) no-repeat;
	background-size:80%;
	margin-bottom: 0;
}
#Main_copy .copy_txt p {
	line-height:1.7em;
}
#Main_copy .content_inner {
	background:url(../images/sp/copy_bg.png) repeat center;
	background-size:70%;
	padding-bottom:60px;
}
#Main_copy .deco1,
#Main_copy .deco2,
#Main_copy .deco3,
#Main_copy .deco4,
#Main_copy .deco5,
#Main_copy .deco6,
#Main_copy .deco7,
#Main_copy .deco8,
#Main_copy .deco9,
#Main_copy .deco10 {
	display:none;
}
#Main_copy .booth_link {
	position: absolute;
	top:auto;
	left:auto;
	bottom:-30px;
	right:10px;
}

/*===フッター===*/
#Footer .content_inner {
	padding: 30px 4%;
	text-align:left;
}
#Nav_footer{
	display:none;
}
#Footer .name {
	padding-top:0;
}
#Page_top {
	position: fixed;
	right: 15px;
	bottom: 15px;
	line-height:0;
	width:40px;
}
#Page_top a img {
	width:100%;
}

/*===SNS===*/
#Home #Sns {
	position: absolute;
	top: 11px;
	left: 10px;
}

#Outline_content {
	padding-top:50px;
}
#Outline_content .content_block {
	padding:40px 3%;
}
#Outline_content .content_block dl {
	float:none;
}
#Outline_content .content_block .home_outline {
	margin-bottom:0;
}
#Outline_content .content_block dl.home_date,
#Outline_content .content_block dl.home_access {
	background:none;
	width:auto;
	height:auto;
	padding:0;
	margin-right:0;
}
#Outline_content .content_block dl dt{
	font-size:20px;
	font-family:"FOT-筑紫A丸ゴシック Std B",TsukuARdGothicStd-B, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color:#20546D;
	background:url(../images/sp/yellow_bg.png) repeat;
	text-align:center;
	letter-spacing:0.1em;
	line-height:1em;
	padding:13px 0;
	margin-bottom:10px;
}
#Outline_content .content_block dl dd{
	padding-bottom:30px;
	padding-top:15px;
	text-align:center;
	font-size:18px;
	line-height:1.6em;
}

.content_inner, #Outline_content .content_inner {
	padding-bottom:50px;
}

/*======*/

#Img_photo {
	height:200px;
}
#Img_photo .img_inner {
	height: 200px;
}
